@import url("https://fonts.cdnfonts.com/css/roblox-new");

* {
  margin: 0;
  padding: 0;
  font-family: "Gotham Black", sans-serif;
  color: white;
}

.container {
  background-color: rgb(57, 75, 131);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-bottom: solid 30px rgb(95, 92, 92);
}
h2 {
  margin-top: 5%;
}
.generated {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  font-size: 20px;
}
.password {
  background-color: rgb(92, 87, 87);
  padding: 15px;
  border-radius: 8px;
}
.button {
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  color: black;
  font-size: 20px;
  margin-top: 10%;
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  transition: background-color ease-in 0.3s;
}
.button:hover {
  background-color: black;
  color: aliceblue;
  transition: background-color ease-in-out 0.3s;
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: rgb(57, 75, 131);
    width: 70%;

    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-bottom: solid 30px rgb(95, 92, 92);
  }
  .generated {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50%;
    font-size: 20px;
  }
  .password {
    background-color: rgb(92, 87, 87);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
  }
  .button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: white;
    color: black;
    font-size: 25px;
    margin-top: 30%;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    transition: background-color ease-in 0.3s;
  }
  .button:hover {
    background-color: black;
    color: aliceblue;
    transition: background-color ease-in-out 0.3s;
  }
}
